@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    
}
.container{
    display: grid;
    place-items: center;
    
    
}
.card{
    background-color: var(--white);
    border-radius: 15px;
    max-width: 350px;
    min-height: 100vh;
    padding: 1em;
}

.text h2{
    color: var(--dark-blue);
    font-weight: 700;
}
.text p {
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 400;
}
img{
    border-radius: 15px;
    width: 100%;
}